// Section title underlined 
.sectionTitle {
    font-size: 21px;
    color: #333333;
    font-weight: bold;
    position: relative;
    left: -20px;
    &:after {
        content: "";
        display: block;
        width: 256px;
        height: 4px;
        background-color: #f9b411;
        position: absolute;
        margin-top: 3px;
    }
    .iconTitle {
        margin-left: 5px;
    }
    .textTitle {
        margin-left: 8px;
        text-transform: uppercase;
    }
}

.rightCol {
    position: relative;
}

.italicDescription {
    font-size: 18px;
    color: #333333;
    font-family: "Proxima Nova";
    font-weight: bold;
    text-align: center;
    font-style:italic;
}
.iSmall {
    @extend .italicDescription; 
    font-size:15px;
}
.textContent {
    font-size: 15px;
    color: #1f1f1f;
    font-family: "Proxima Nova";
}
.mt22 {
    margin-top:22px;
}
.mt30 {
    margin-top:30px;
}
.mb78 {
    margin-bottom:78px;
}