// Section title underlined 
.sectionTitle {
    font-size: 21px;
    color: #333333;
    font-weight: bold;
    position: relative;
    left: -20px;
    &:after {
        content: "";
        display: block;
        width: 256px;
        height: 4px;
        background-color: #f9b411;
        position: absolute;
        margin-top: 3px;
    }
    .iconTitle {
        margin-left: 5px;
    }
    .textTitle {
        margin-left: 8px;
        text-transform: uppercase;
    }
}

.rightCol {
    position: relative;
}

.italicDescription {
    font-size: 18px;
    color: #333333;
    font-family: "proxima-nova";
    font-weight: bold;
    text-align: center;
    font-style:italic;
}
.iSmall {
    @extend .italicDescription; 
    font-size:15px;
}
.textContent {
    font-size: 15px;
    color: #1f1f1f;
    font-family: "proxima-nova";
}
.mt22 {
    margin-top:22px;
}
.mt30 {
    margin-top:30px;
}
.mt40 {
    margin-top:40px;
}
.mb0 {
    margin-bottom:0;
}
.mb30 {
    margin-bottom:30px;
}
.mb78 {
    margin-bottom:78px;
}
.ml20 {
    margin-left:20px;
}
.boldSpanBig {
    font-size: 17px;
    font-weight:bold;
}
.generalFig {

    .generalFigImg {
        display: block;
        max-width:100%;
        background-position: center;
        background-size: cover;
    }
  
    figcaption {
        font-size: 12px;
        color: #333333;
        font-family: "proxima-nova";
        font-weight: 300;
        text-align: right;
        margin-top:8px;
    }
}