// Section title underlined 
.sectionTitle {
    font-size: 21px;
    color: #333333;
    font-weight: bold;
    position: relative;
    left: -20px;
    &:after{
        content: "";
        display: block;
        width: 256px;
        height: 4px;
        background-color: #f9b411;
        position: absolute;
        margin-top: 3px;
    }
    .iconTitle{
        margin-left: 5px;
    }
    .textTitle{
        margin-left: 8px;
    }
}

.rightCol {
    position: relative;
}

.yellowBorder {
    
}