<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
    <div id="wrapper">

        

        @@include('../partials/globals/topBar.html')

        <div class="mainPage">
            <div class="customContainer">

                <div class="mainBg">
                    @@include('../partials/globals/header.html')

                    <div class="mainCols">
                        @@include('../partials/globals/left.html')

                        <div class="rightCol">

                            <div class="whiteBox">
                                @@include('../partials/components/underlined-title.html', {
                                    "iconTitle": "<i class=\"fas fa-users\"></i>", 
                                    "textTitle": "ABOUT US" 
                                })

                                <div class="italicDescription mt30">
                                   <p> Portage and Main Outdoor Boilers is named after one of the <br>coldest intersections in the world – the intersection of Portage Avenue and <br> Main Street in Winnipeg, Manitoba, Canada.</p>
                                </div>
                                <figure class="generalFig mt22">
                                    <img class="generalFigImg" src="./assets/images/portage-main-about.jpg" alt="">
                                    <figcaption>Portage Ave. & Main St. - Winnipeg, Manitoba</figcaption>
                                </figure>
                                <div class="textContent mt22">
                                    <p>This crossroads has over the years witnessed history in the making. This area was the hub of commerce and banking at the turn of the 20th century and still remains a vital link between the business communities of Eastern and Western Canada. Thanks to its relative proximity to the international border, it is also a vital link between Canada and the United States.</p>
                                </div>


                                <div class="mt30">
                                    @@include('../partials/components/underlined-title.html', { 
                                        "iconTitle": "<i class=\"fas fa-users\"></i>", 
                                        "textTitle": "staffs" 
                                    })
                                </div>
                                

                                <div class="textContent mt22">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum </p>
                                </div>

                                <div class="generalFig mb78">
                                    <a class="generalFigImg" href="#" target="_blank" style="background-image: url('./assets/images/portage-main-stuff.jpg'); height:430px"></a>
                                </div>

                                @@include('../partials/components/underlined-title.html', { 
                                    "iconTitle": "<i class=\"fas fa-balance-scale\"></i>", 
                                    "textTitle": "our principals" 
                                })

                                <div class="textContent mt30">
                                    <p>Portage & Main Outdoor Boilers have provided families and businesses with comfortable heat for over 40 years. We are recognized as the industry leader with time-tested and proven designs.</p>

                                </div>
                                <div class="iSmall">
                                    <p> Our primary goal is to deliver more heat into your water pipes and not up the <br>
                                        chimney pipes, all while providing exceptional customer service <br>
                                        and satisfaction, day in and day out. </p>
                                </div>

                                
                                <div class="textContent">
                                    <p> No other manufacturer has a more complete product listing. Our range includes updraft, downdraft, cord wood, wood pellets, wood chips and coal burning boilers - providing you with more options for your heating requirements.</p>
                                    <p> We believe the more you research what's out there, the more you will see that Portage & Main Outdoor Boilers offers you a lot more of what you really want - more value and a lot more boiler for your hard earned dollar. </p>
                                </div>
                                <div class="italicDescription mb78">
                                    <p>We have turned up the heat and look forward to providing you with the  <br> warmth and satisfaction you have been searching for!</p>
                                </div>

                                @@include('../partials/components/underlined-title.html', { 
                                    "iconTitle": "<i class=\"fas fa-history\"></i>", 
                                    "textTitle": "company history" 
                                })

                                <div class="textContent mt30">
                                    <p>Portage & Main Outdoor Boilers was founded by inventor and entrepreneur Andy Nagy in 1973. From his modest home workshop, Nagy designed and built durable, highly efficient outdoor hydronic heating appliances. Using time-tested concepts and simple manufacturing processes, Nagy developed the Portage & Main brand. It is now one of the most recognized names in the industry. Although Nagy retired in 2005, manufacturing continues today with the same care and attention to detail he held so dear.</p>
                                </div>

                                <div class="generalFig">
                                    <a class="generalFigImg" href="#" target="_blank" style="background-image: url('./assets/images/portage-main-boilers.jpg'); height: 271px"></a>
                                </div>

                                <div class="textContent mt30">
                                    <p>Portage & Main Outdoor Boilers was founded by inventor and entrepreneur Andy Nagy in 1973. From his modest home workshop, Nagy designed and built durable, highly efficient outdoor hydronic heating appliances. Using time-tested concepts and simple manufacturing processes, Nagy developed the Portage & Main brand. It is now one of the most recognized names in the industry. Although Nagy retired in 2005, manufacturing continues today with the same care and attention to detail he held so dear.</p>
                                </div>

                                <div class="textContent mt30">
                                    <p>Something more needs to be said here...</p>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @@include('../partials/globals/footer.html')

    </div>
    @@include('../partials/globals/bottomScripts.html')

</body>

</html>
