<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
    <div id="wrapper">

        @@include('../partials/globals/topBar.html')

        <div class="mainPage">
            <div class="customContainer">

                <div class="mainBg">
                    @@include('../partials/globals/header.html')

                    <div class="mainCols">
                        <aside class="leftCol">

                            <div class="leftBox">
        
                                <div class="leftBoxSection">
                                    <h4 class="leftBoxTitle">
                                        <span class="leftBoxTitleIcon"> <i class="far fa-compass"></i>  </span>
                                        <span class="leftBoxTitleText"> Quick Nav </span>
                                    </h4>

                                    <div class="leftBoxTitleDecoration"></div>
                                    <nav class="quickNav" id="quickNav">
                                        <ul class="quickNavList">
                                            <li class="quickNavItem submenuActive">
                                                <!-- use .opensSubmenu class if it has a submenu besides it -->
                                                <a href="javascript:void(0);" class="quickNavItemLink opensSubmenu">Dealers</a>
                                                <ul class="quickNavSubmenu">
                                                    <li class="quickNavSubmenuItem"><a href="./dealer_locations.html" class="quickNavSubmenuLink">Locations</a></li>
                                                    <li class="quickNavSubmenuItem"><a href="./purchase_shipping.html" class="quickNavSubmenuLink">purchase &amp; shipping</a></li>
                                                    <li class="quickNavSubmenuItem"><a href="./faq.html" class="quickNavSubmenuLink">faq</a></li>
                                                </ul>
                                            </li>
                                            <li class="quickNavItem">
                                                <a href="javascript:void(0);" class="quickNavItemLink">News / Blog</a>
                                            </li>
                                            <li class="quickNavItem">
                                                <a href="javascript:void(0);" class="quickNavItemLink">Testim</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>


                                <div class="leftBoxSection">
                                    <h4 class="leftBoxTitle">
                                        <span class="leftBoxTitleIcon"> <img src="./assets/images/network.svg" alt=""> </span>
                                        <span class="leftBoxTitleText"> follow Portage &amp; main </span>
                                    </h4>

                                    <div class="leftBoxTitleDecoration"></div>

                                    <div class="socialMediaIcons">
                                        <a href="">
                                            <img src="./assets/images/facebook-color.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="./assets/images/twitter-color.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="./assets/images/youtube-color.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="./assets/images/instagram-color.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="imgAd">
                                    <a href="#">
                                        <img src="./assets/images/mock_adsmall.jpg" alt="">
                                    </a>
                                </div>
        
                            </div>

                            <div class="leftBox">

                                <h4 class="leftBoxTitle">
                                    <span class="leftBoxTitleIcon"> <i class="far fa-newspaper"></i>  </span>
                                    <span class="leftBoxTitleText"> Older Posts </span>
                                </h4>

                                <div class="leftBoxTitleDecoration"></div>

                                <div class="leftBoxList">

                                    <div class="leftPostItem">
                                        <div class="leftPostItemImage">
                                            <a href="#" class="shine" style="background-image: url(./assets/images/generic1.jpg)" title="Headline will go here’ and look like this for the audience"></a>
                                        </div>
                                        <div class="leftPostItemInfo">
                                            <div class="leftPostItemDate">
                                                <i class="fas fa-calendar-alt"></i> Oct 18th, 2019
                                            </div>
                                            <h5 class="leftPostItemTitle">
                                                <a href="#"> Headline will go here’ and look like this for the audience </a>
                                            </h5>
                                        </div>
    
                                    </div><div class="leftPostItem">
                                        <div class="leftPostItemImage">
                                            <a href="#" class="shine" style="background-image: url(./assets/images/generic1.jpg)" title="Headline will go here’ and look like this for the audience"></a>
                                        </div>
                                        <div class="leftPostItemInfo">
                                            <div class="leftPostItemDate">
                                                <i class="fas fa-calendar-alt"></i> Oct 18th, 2019
                                            </div>
                                            <h5 class="leftPostItemTitle">
                                                <a href="#"> Headline will go here’ and look like this for the audience </a>
                                            </h5>
                                        </div>
    
                                    </div><div class="leftPostItem">
                                        <div class="leftPostItemImage">
                                            <a href="#" class="shine" style="background-image: url(./assets/images/generic1.jpg)" title="Headline will go here’ and look like this for the audience"></a>
                                        </div>
                                        <div class="leftPostItemInfo">
                                            <div class="leftPostItemDate">
                                                <i class="fas fa-calendar-alt"></i> Oct 18th, 2019
                                            </div>
                                            <h5 class="leftPostItemTitle">
                                                <a href="#"> Headline will go here’ and look like this for the audience </a>
                                            </h5>
                                        </div>
    
                                    </div><div class="leftPostItem">
                                        <div class="leftPostItemImage">
                                            <a href="#" class="shine" style="background-image: url(./assets/images/generic1.jpg)" title="Headline will go here’ and look like this for the audience"></a>
                                        </div>
                                        <div class="leftPostItemInfo">
                                            <div class="leftPostItemDate">
                                                <i class="fas fa-calendar-alt"></i> Oct 18th, 2019
                                            </div>
                                            <h5 class="leftPostItemTitle">
                                                <a href="#"> Headline will go here’ and look like this for the audience </a>
                                            </h5>
                                        </div>
    
                                    </div>
            
                                </div>
                            </div>

                            <div class="newsletterBox leftBox">
        
                                <h4 class="leftBoxTitle">
                                    <span class="leftBoxTitleIcon"> <i class="fas fa-newspaper"></i>  </span>
                                    <span class="leftBoxTitleText"> Sign-Up for our Newsletter </span>
                                </h4>
                                <div class="newsletterText">
                                    News, updates, &amp; promotional information.
                                </div>
                                <div class="newsletterForm">
                                    <input type="text" class="newsletterInput" placeholder="Enter Email...">
                                    <button type="submit" class="blueButton button newsletterSubmit">
                                        SUBMIT
                                    </button>
                                </div>
                            </div>

                            <div class="towerAd">
                                <a href="#">
                                    <img src="./assets/images/mockAd.jpg" alt="">
                                </a>
                            </div>

                        </aside>

                        <div class="rightCol">
                            <div class="whiteBox">
                                
                            
                                @@include('../partials/components/underlined-title.html', {"iconTitle": "<img src=\"./assets/images/tools.svg\" alt=\"\">", "textTitle": "Aqua Stat Operation and Replacement " })

                                <div class="italicDescription mt30">
                                    <p> Portage and Main BL series boilers use a total of two (2) different Johnson Control aqua stats to control the function and operation of your outdoor boiler.  Over the years Portage and Main has used a total of three different models of aqua stats, these include:</p>
                                </div>

                                <div class="textContent mt22">
                                <ul>
                                    <li> Johnson Controls - A419ABC-2C or A421ABC-03 (A419 or A421) is a digital aqua stat and 
                                            controls most thermostatic functions of the boiler.</li>
                                    <li> Johnson Controls - A19ABC-12C is a mechanical aqua stat and controls the high limit function, 
                                            meaning if for some reason the A419 / A421 aqua stat fails, then the high limit acts as a 
                                            redundancy to shut the blower fan off, to prevent further overheating.  Portage and Main 
                                            recommends having this mechanical aqua stat dial turned to 190ᵒF.
                                      </li>
                                      <li>???</li>
                                </ul>
                                </div>

                                <div class="textContent mt22">
                                    <p>
                                         Before energizing the electrical circuits with power, make sure wiring connections are correct.  Then power, operate and observe the system and A419 / A421 control for at least two complete operating cycles before leaving the installation.</p>
                                </div>
                                <hr>
                                <div class="italicDescription ">
                                    <p>Portage and Main recommends ensuring all settings are programmed to match the factory default settings. Once they are matched, you may to further adjust the SP (SET POINT) and the DIF (differential).  
                                        </p>
                                    <p>The SP controls the highest operating temperature that the outdoor furnace will achieve, before it shuts the blower motor down. The DIF determines what operating temperature reduction is allowed before the blower starts up to 
                                            reheat the  boiler back to the SP.  
                                        </p>
                                </div>

                                <div class="textContent mt22">
                                    <p>Portage and Main recommends an initial SP of 175 degrees F, and a DIF of 7 to 10 degrees F.  If further assistance is needed to complete programming of the aqua stat, please contact Portage and Main for a copy of the A419 electronic manual. 
                                        </p>
                                </div>

                                <div class="textContent mt40">
                                     <h5><strong>Setting the A419 Digital Control Set Point Value and Differential Value</strong> </h5>
                                        
                                    <h6 class="mt22"><span class="semibold"><i>To view and adjust Set Point (SP) on the A419, Follow these steps:</i></span></h6>
                                    <ul>
                                        <li>Press and hold MENU(about 2 seconds) until the display flashes SP(SET POINT).</li>
                                        <li> Press MENU again to display the existing SP value.</li>
                                        <li>Press UP or DOWN ARROWS to adjust the SP to the temperature that you wish to use. </li>
                                        <li>Press MENU again to save the new SP value selected. The display will then return to display the current temperature of the boiler solution.
                                        </li>
                                    </ul>

                                    <h6 class="mt22"><span class="semibold"><i>To view and adjust Differential (DIF) on the A419, Follow these steps:</i></span></h6>
                                    <ul>
                                        <li>Press and hold MENU until the display flashes SP.</li>
                                        <li>Press UP or DOWN Arrows to scroll until the desired function is displayed (DIF).</li>
                                        <li>Press MENU to display the current value.</li>
                                        <li>Press UP or DOWN arrows to adjust the DIF to the desired value that you wish to use.</li>
                                        <li>Press MENU to save the new setting.  The display will then return to display the current temperature of the boiler solution.
                                        </li>
                                    </ul>
                                    <div class="mt40 textContent">
                                        <p><span class="note">note:</span> If MENU is not pressed after changing the value, the control reverts to the previously programmed value.  If NO ENTRY is made for 30 seconds, the control reverts to the (Normal) temperature display.</p>
                                        <p>Any saved A419 control settings are non-volatile and remain in the control's memory during power interruptions.</p>
                                        <p><span class="note">important:</span> Do not set SP and DIF values which ( when totaled) fall out of A419 control's Set Point range (-30 to 212F) or (-34 to 100C). The Control will not function properly if cut-in or cut-out values are outside of the control's SP range.</p>
                                    </div>

                                </div>

                                <hr class="mb30">

                                <div class="italicDescription">
                                    <p>Portage and Main recommends ensuring all settings are programmed to match the factory default settings.  Once they are matched, you may wish to further adjust the OFF and the ON.  The OFF controls the highest operating temperature that the outdoor furnace will achieve,  before it shuts the blower down.  The ON determines what operating temperature reduction is allowed before the blower starts up to reheat the boiler back to the OFF value.</p>
                                </div>

                                <div class="textContent mt22">
                                    <p>Portage and Main recommends an initial OFF of 175F and ON of 167 to 165F.  If further assistance is needed to complete programming of the aqua stat, please contact Portage and Main for a copy of the A421 electronic manual. </p>
                                </div>

                                <div class="textContent mt40">
                                    <h5><strong>Setting the A421 Digital Control OFF Value</strong></h5>
                                    <h6 class="mt22"><span class="semibold"><i>To view and adjust the OFF value on the A421, Follow these steps:</i></span></h6>
                                    <ul>
                                        <li>Press and hold MENU(about 2 seconds) until the display flashes SP(SET POINT).</li>
                                        <li>Press MENU again to display the existing SP value.</li>
                                        <li>Press UP or DOWN ARROWS to adjust the SP to the temperature that you wish to use. </li>
                                        <li> Press MENU again to save the new SP value selected. The display will then return to display the current temperature of the boiler solution.
                                            </li>
                                    </ul>
                                    <h6 class="mt22"><span class="semibold"><i>
                                            Setting the A421 Digital control ON Value:</i></span></h6>
                                    <ul>
                                        <li>Press MENU</li>
                                        <li>Press UP arrow or DOWN arrow to scroll till ON is displayed.</li>
                                        <li> Press UP arrow or DOWN arrow to select desired temperature and display the preferred temperature.</li>
                                        <li>With the desired temperature displayed, press MENU to save the displayed value. </li>
                                        <li> Press UP arrow and DOWN arrow together to go to Main screen.
                                            </li>
                                    </ul>
                                    <div class="mt40 textContent">
                                        <p><span class="note">note:</span> If MENU is not pressed after changing the value, the control reverts to the previously programmed value.  If no entry is made for 30 seconds, the control reverts to the (normal) temperature display.</p>
                                        <p>Any saved A421 control settings are non-volatile and remain in the control's memory during power interruptions.
                                            </p>
                                        <p><span class="note">important:</span> If a boiler overheats, the overheating can cause problems and issues such as, burnt sensor wires or sensor probe failures.  If a boiler significantly overheats, then in many cases, replacement of the sensor(s) and/or aqua stat(s) is required. 
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="textContent mt40">
                                    <h6 class="mt22 mb20"><span class="semibold"><i>To Replace the A19ABC-12C Manual Aqua Stat:</i></span></h6>
                                    <ol class="spacedList">
                                        <li>Disconnect power from the boiler.</li>
                                        <li>To remove the cover on the A19ABC-12C aqua stat, remove the single screw at the bottom of the cover.</li>
                                        <li>Once the cover is removed, we can recommend taking a picture of the wiring connections, so the re-install can be completed accurately.</li>
                                        <li>There will be two wires supplying AC Power to the unit and a solid copper sensor wire for the sensor probe. It is important that all connections are wired correctly.</li>
                                        <li>In order to replace the sensor probe. Trace the copper sensor wire to the dry well location. 
                                            <ul>
                                                <li> This is on the right hand side of the boiler, (when facing boiler from the front). There are two dry wells side by side, the dry well on the outer most edge is for the A419/A421 and the second one is for the A19ABC-12C.</li>
                                                <li>The sensor probes are positioned in the dry well and held in place with a set screw and the base of the sensor is secured high temp silicone.</li>
                                            </ul>
                                        </li>
                                        <li>Loosen the set screw holding the sensor probe, you may need to cut through old silicone to release old probe.</li>
                                        <li>Remove old sensor probe, clean dry well very well, to remove any scale or corrosion. Failure to do so could cause mis-readings by the aqua stat probe.
                                            </li>
                                        <li>Apply some high temp silicone around the base of the sensor, insert new sensor proble into cleaned dry well, and secure the probe wire to the dry well with the set screw. 
                                           </li>
                                           <li>Complete the wiring connections for the AC power.</li>
                                           <li>Re-install cover for the A19ABC-12C aqua stat.</li>

                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @@include('../partials/globals/footer.html')

    </div>
    @@include('../partials/globals/bottomScripts.html')

</body>

</html>