<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body class="homepage">
    <div id="wrapper">

      <div id="wallpaperButton">
          Show ads
      </div>

      @@include('../partials/globals/topBar.html')

      <div class="mainPage">
        <div class="customContainer">

          <div class="mainBg">
            @@include('../partials/globals/header.html')

            <div class="mainCols">
              
              <div class="topHomeCarousel">
                <div class="logoFull">
                  <a href="/">
                      <img src="./assets/images/portage-main-boiler.png" alt="">
                  </a>
                </div>
                <div id="topCarousel" class="owl-carousel customDots">

                  <div class="item">

                    <a href="#" class="topCImage" style="background-image: url(./assets/images/house4.jpg);" title="Featured Product / Story One"></a>

                    <div class="topCContent">
                      <h3 class="topCTitle"><a href="#">Featured Product / Story One</a></h3>

                      <div class="topCtext">
                        <p>
                          <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="item">

                    <a href="#" class="topCImage" style="background-image: url(./assets/images/house1.jpg);" title="Featured Product / Story One"></a>

                    <div class="topCContent">
                      <h3 class="topCTitle"><a href="#">Featured Product / Story One</a></h3>

                      <div class="topCtext">
                        <p>
                          <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="item">

                    <a href="#" class="topCImage" style="background-image: url(./assets/images/house2.webp);" title="Featured Product / Story One"></a>

                    <div class="topCContent">
                      <h3 class="topCTitle"><a href="#">Featured Product / Story One</a></h3>

                      <div class="topCtext">
                        <p>
                          <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="item">

                    <a href="#" class="topCImage" style="background-image: url(./assets/images/house3.jpg);" title="Featured Product / Story One"></a>

                    <div class="topCContent">
                      <h3 class="topCTitle"><a href="#">Featured Product / Story One</a></h3>

                      <div class="topCtext">
                        <p>
                          <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              

              <aside class="leftCol">

                <div class="leftBox">
    
                  <div class="leftBoxSection">
                    <h4 class="leftBoxTitle">
                      <span class="leftBoxTitleIcon"> <i class="far fa-compass"></i>  </span>
                      <span class="leftBoxTitleText"> Quick Nav </span>
                    </h4>

                    <div class="leftBoxTitleDecoration"></div>
                    <nav class="quickNav" id="quickNav">
                      <ul class="quickNavList">
                        <li class="quickNavItem submenuActive">
                          <!-- use .opnesSubmenu class if it has a submenu besides it -->
                          <a href="javascript:void(0);" class="quickNavItemLink opnesSubmenu">Dealers</a>
                          <ul class="quickNavSubmenu" style="display: block;">
                            <li class="quickNavSubmenuItem"><a href="./dealer_locations.html" class="quickNavSubmenuLink">Locations</a></li>
                            <li class="quickNavSubmenuItem"><a href="./purchase_shipping.html" class="quickNavSubmenuLink">purchase &amp; shipping</a></li>
                            <li class="quickNavSubmenuItem"><a href="./faq.html" class="quickNavSubmenuLink">faq</a></li>
                          </ul>
                        </li>
                        <li class="quickNavItem">
                          <a href="javascript:void(0);" class="quickNavItemLink">News / Blog</a>
                        </li>
                        <li class="quickNavItem">
                          <a href="javascript:void(0);" class="quickNavItemLink">Testim</a>
                        </li>
                      </ul>
                    </nav>
                  </div>


                  <div class="leftBoxSection">
                    <h4 class="leftBoxTitle">
                      <span class="leftBoxTitleIcon"> <img src="./assets/images/network.svg" alt=""> </span>
                      <span class="leftBoxTitleText"> follow Portage &amp; main </span>
                    </h4>

                    <div class="leftBoxTitleDecoration"></div>

                    <div class="socialMediaIcons">
                      <a href="">
                        <img src="./assets/images/facebook-color.svg" alt="">
                      </a>
                      <a href="">
                        <img src="./assets/images/twitter-color.svg" alt="">
                      </a>
                      <a href="">
                        <img src="./assets/images/youtube-color.svg" alt="">
                      </a>
                      <a href="">
                        <img src="./assets/images/instagram-color.svg" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="imgAd">
                    <a href="#">
                      <img src="./assets/images/mock_adsmall.jpg" alt="">
                    </a>
                  </div>
    
                </div>

                <div class="leftBox">

                  <h4 class="leftBoxTitle">
                    <span class="leftBoxTitleIcon"> <i class="far fa-newspaper"></i>  </span>
                    <span class="leftBoxTitleText"> Older Posts </span>
                  </h4>

                  <div class="leftBoxTitleDecoration"></div>

                  <div class="leftBoxList">

                    <div class="leftPostItem">
                      <div class="leftPostItemImage">
                        <a href="#" class="shine" style="background-image: url(./assets/images/generic1.jpg)" title="Headline will go here’ and look like this for the audience"></a>
                      </div>
                      <div class="leftPostItemInfo">
                        <div class="leftPostItemDate">
                          <i class="fas fa-calendar-alt"></i> Oct 18th, 2019
                        </div>
                        <h5 class="leftPostItemTitle">
                          <a href="#"> Headline will go here’ and look like this for the audience </a>
                        </h5>
                      </div>
  
                    </div><div class="leftPostItem">
                      <div class="leftPostItemImage">
                        <a href="#" class="shine" style="background-image: url(./assets/images/generic1.jpg)" title="Headline will go here’ and look like this for the audience"></a>
                      </div>
                      <div class="leftPostItemInfo">
                        <div class="leftPostItemDate">
                          <i class="fas fa-calendar-alt"></i> Oct 18th, 2019
                        </div>
                        <h5 class="leftPostItemTitle">
                          <a href="#"> Headline will go here’ and look like this for the audience </a>
                        </h5>
                      </div>
  
                    </div><div class="leftPostItem">
                      <div class="leftPostItemImage">
                        <a href="#" class="shine" style="background-image: url(./assets/images/generic1.jpg)" title="Headline will go here’ and look like this for the audience"></a>
                      </div>
                      <div class="leftPostItemInfo">
                        <div class="leftPostItemDate">
                          <i class="fas fa-calendar-alt"></i> Oct 18th, 2019
                        </div>
                        <h5 class="leftPostItemTitle">
                          <a href="#"> Headline will go here’ and look like this for the audience </a>
                        </h5>
                      </div>
  
                    </div><div class="leftPostItem">
                      <div class="leftPostItemImage">
                        <a href="#" class="shine" style="background-image: url(./assets/images/generic1.jpg)" title="Headline will go here’ and look like this for the audience"></a>
                      </div>
                      <div class="leftPostItemInfo">
                        <div class="leftPostItemDate">
                          <i class="fas fa-calendar-alt"></i> Oct 18th, 2019
                        </div>
                        <h5 class="leftPostItemTitle">
                          <a href="#"> Headline will go here’ and look like this for the audience </a>
                        </h5>
                      </div>
  
                    </div>
      
                  </div>
                </div>

              </aside>

              <div class="rightCol">

                <div class="whiteBox">

                  <div class="textContent smallerText">
                     <h4 class="bgMainOutdoor">Welcome to Portage & Main - Outdoor Boilers</h4>
                     <h6 class="subtitle">...quality and innovation since 1973!</h6>

                     <div class="videoOutodoor">
                          <div class="iframeVideoTrigger" data-toggle="modal" data-target="#ytModal">
                            <iframe src="https://www.youtube.com/embed/FbCHCYkcM3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                         
                          <div class="bgMainCertificate">
                              <a href="#" target="_blank"><img src="./assets/images/made_in_canada.jpg" alt="" style="width:115px; height:82px"></a>
                              <a href="#" target="_blank"><img src="./assets/images/epa_certificate.jpg" alt="" style="width:113px; height:116px"></a>
                          </div>
                     </div>
                  </div>

                  <div class="textContent">
                    <h4 class="bgMainSubtitle mt22">Innovation and Expertise to Meet Your Heating Needs</h4>
                    <p>Portage & Main Boilers have been <strong><em>manufactured for over 40 years</em></strong>. We continually strive to be the leading innovators in the outdoor boiler business! Our factory is a state of the art facility that employs the latest manufacturing technology – including computer controlled robotic welders and laser cutting technology.</p>
                    <p>The Portage & Main range of products include Ultimizer wood and coal models, auto-feed coal/pellet burners, automated wood chip burning systems and a line of EPA approved gasification boilers. </p>
                    <p>We lead the way in innovation, quality and efficiency, using time tested and proven designs. We have developed the most efficient heat transfer exchangers available in any outdoor boiler on the market today.
                    </p>
                    <p>Our customers are home owners, farmers, commercial and industrial businesses, schools and municipal authorities. We sell boilers from Alaska to Florida and everywhere in between. Our customers do their research and recognize the value of a clean burning, environmentally friendly boiler that will save them fuel, money and time.</p>
                  </div>

                </div>

                <div class="whiteBox mt22">
                  <div class="textContent">
                    <h3 class="sectionTitle">
                            <span class="iconTitle capitlized"><i class="fas fa-quote-left"></i></span>
                            <span class="textTitle capitalized">Bulletin Board</span>
                    </h3>
                    <div class="board">
                    
                      @@loop('../partials/components/bulletinInfo.html', [
                      {
                          "bulletinDate":"September 5th - 9th",
                          "bulletinTitle":"Great Lakes Logging & Heavy Equipment Expo",
                          "infoImg":"./assets/images/generic1.jpg"
                      },
                      {
                          "bulletinDate":"September 10th - 26th",
                          "bulletinTitle":"Farm Science Show @ Ohio State University",
                          "infoImg":"./assets/images/generic1.jpg"
                      }
                      ])
                      <div class="bulletinPhotos">
                          <div class="bulletinYear">2019</div>
                          <div class="bulletinPhotoItem">
                            <div class="bulletinPhoto1">
                              <a href="#" class="bulletinPhotoImg" style="background-image: url(./assets/images/generic1.jpg);"></a>
                            </div>
                          </div>
                          <div class="bulletinPhotoItem">
                            <div class="bulletinPhoto2">
                              <a href="#" class="bulletinPhotoImg" style="background-image: url(./assets/images/generic1.jpg);"></a>
                            </div>
                          </div>
                          
                      </div>

                    </div>

                    <div class="boardReadMore">
                      <a href="#" class="readMoreBlue"> &raquo; View Full Calendar</a>
                    </div>
                  </div>
                </div>

                <div class="whiteBox mt22">
                  <div class="textContent relativ">
                    <h3 class="sectionTitle">
                      <span class="iconTitle capitlized"><i class="fas fa-smile"></i></span>
                      <span class="textTitle capitalized">Testimonials</span>
                    </h3>
                    <a class="moreTestimonial" href="#">
                      <span><i class="fas fa-caret-right"></i></span>
                      <span><i>More</i></span>
                    </a>

                    <div id="testimonialCarousel" class="owl-carousel customDots">
                      <div class="item">
                        <div class="flexDiv mt40">
                          <div class="testimonialContainer">
                            <a class="avatarPhoto" target="_blank" style="background-image: url(./assets/images/serveimage.jpeg);"></a>
                          </div>
                          <div class="testimonial">
                              <h6 class="testimonialTitle">Mark & Andrea Nyseth - Eleva, Wisconsin</h6>
                              <p>The P&M BL2840 we purchased from Strawbale Farms is a great unit.  This is our third year of running it and the performance has been 100% accurate.  We previously owned a Woodmaster 4400 and the P&M is a far better boiler IMO. It burns hotter, cleaner, alot less wood and very easy to maintain. I wish we would have purchased a P&M to start with.
                                      It is a very high quality built unit. We are 100% satisfied with our P&M and the great customer service. We would definitely highly recommend a P&M.</p>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="flexDiv mt40">
                          <div class="testimonialContainer">
                            <a class="avatarPhoto" target="_blank" style="background-image: url(./assets/images/serveimage.jpeg);"></a>
                          </div>
                          <div class="testimonial">
                              <h6 class="testimonialTitle">Mark & Andrea Nyseth - Eleva, Wisconsin</h6>
                              <p>The P&M BL2840 we purchased from Strawbale Farms is a great unit.  This is our third year of running it and the performance has been 100% accurate.  We previously owned a Woodmaster 4400 and the P&M is a far better boiler IMO. It burns hotter, cleaner, alot less wood and very easy to maintain. I wish we would have purchased a P&M to start with.
                                      It is a very high quality built unit. We are 100% satisfied with our P&M and the great customer service. We would definitely highly recommend a P&M.</p>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                        <div class="flexDiv mt40">
                          <div class="testimonialContainer">
                            <a class="avatarPhoto" target="_blank" style="background-image: url(./assets/images/serveimage.jpeg);"></a>
                          </div>
                          <div class="testimonial">
                              <h6 class="testimonialTitle">Mark & Andrea Nyseth - Eleva, Wisconsin</h6>
                              <p>The P&M BL2840 we purchased from Strawbale Farms is a great unit.  This is our third year of running it and the performance has been 100% accurate.  We previously owned a Woodmaster 4400 and the P&M is a far better boiler IMO. It burns hotter, cleaner, alot less wood and very easy to maintain. I wish we would have purchased a P&M to start with.
                                      It is a very high quality built unit. We are 100% satisfied with our P&M and the great customer service. We would definitely highly recommend a P&M.</p>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                        <div class="flexDiv mt40">
                          <div class="testimonialContainer">
                            <a class="avatarPhoto" target="_blank" style="background-image: url(./assets/images/serveimage.jpeg);"></a>
                          </div>
                          <div class="testimonial">
                              <h6 class="testimonialTitle">Mark & Andrea Nyseth - Eleva, Wisconsin</h6>
                              <p>The P&M BL2840 we purchased from Strawbale Farms is a great unit.  This is our third year of running it and the performance has been 100% accurate.  We previously owned a Woodmaster 4400 and the P&M is a far better boiler IMO. It burns hotter, cleaner, alot less wood and very easy to maintain. I wish we would have purchased a P&M to start with.
                                      It is a very high quality built unit. We are 100% satisfied with our P&M and the great customer service. We would definitely highly recommend a P&M.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
    
              </div>

            </div>
          </div>
        </div>
      </div>
          
    </div>

    <!-- The Modal -->
    <div class="modal fade ytModal" id="ytModal">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Introducing Portage & Main Boilers</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <iframe src="https://www.youtube.com/embed/FbCHCYkcM3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <div class="youtubeCaption">
              Say whatever you’d like to say here Brian...Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            </div>
          </div>

        </div>
      </div>
    </div>

    @@include('../partials/globals/footer.html')

    @@include('../partials/globals/bottomScripts.html')

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
      $('#topCarousel').owlCarousel({
          loop:true,
          margin:10,
          nav:true,
          items: 1,
          navText: ["<div class='topCarouselNav topCarouselLeft'></div>","<div class='topCarouselNav topCarouselRight'></div>"]
      })

      $('#testimonialCarousel').owlCarousel({
          loop:true,
          margin:10,
          nav:false,
          items: 1,
          navText: ["<div class='topCarouselNav topCarouselLeft'></div>","<div class='topCarouselNav topCarouselRight'></div>"]
      })
    </script>

    
</body>

</html>