<!DOCTYPE html>
<html lang="en">

    @@include('../partials/head/head.html')

    <body class="noLeftSide">
        <div id="wrapper">

            @@include('../partials/globals/topBar.html')

            <div class="mainPage">
                <div class="customContainer">
            
                    <div class="mainBg">

                        @@include('../partials/globals/header.html')
                    
                        <div class="mainCols">

                            @@include('../partials/globals/leftSideMenu.html')

                            <div class="centerCol">
                                @@include('../partials/components/quickNavButtons.html',{
                    
                                    "iconQNBBox": "<img src=\"./assets/images/Education-Icon.png\">",
                    
                                    "qnbBtn1": "Video Learning",
                    
                                    "qnbBtn2": "Installation Diagrams",
                    
                                    "qnbBtn3": "Pad Designs"
                    
                                })
                    
                                @@include('../partials/components/underlined-title.html', {
                    
                                    "iconTitle": "<img src=\"./assets/images/boilers101.png\">",
                                    
                                    "textTitle": "BOILERS 101 - VIDEO LEARNING"
                                })

                                <!--START 22.10.2019-->
                                <div class="topDescription">
                                    <div class="italicDescription">
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                    <div class="italicDescription"> 
                                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                        'Content here, content here', making it look like readable English.
                                    </div>
                                </div>
                                <!--END-->


                                <div class="youtubeList">
                                    @@loop('../partials/components/youtubeElement.html', [
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/05y8PV3TCDI",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        },
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/_FrOQC-zEog",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        },
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/yvPr9YV7-Xw",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        },
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/05y8PV3TCDI",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        },
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/05y8PV3TCDI",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        },
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/05y8PV3TCDI",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        },
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/05y8PV3TCDI",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        },
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/05y8PV3TCDI",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        },
                                        {
                                            "ytsrc": "https://www.youtube.com/embed/05y8PV3TCDI",
                                            "text": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College" 
                                        }
                                    ])
                                    
                                    <a href="#" class="frequentlyAQ">
                                        &raquo; Frequently Asked Questions
                                    </a>
                                </div>
                            </div>

                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- The Modal -->
            <!-- you can add the modal in other places on page, since it's position fixed -->
            <div class="modal fade ytModal" id="ytModal">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <h4 class="modal-title">Name of the Video Being Viewed</h4>
                            <iframe class="embed-responsive-item" src="a" id="video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowscriptaccess="always"> </iframe>

                            <div class="youtubeCaption">
                                Say whatever you’d like to say here Brian...Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.    Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            @@include('../partials/globals/footer.html')
            
        </div>

        @@include('../partials/globals/bottomScripts.html')

        
        <script>
            $(document).ready(function() {

                // Gets the video src from the data-src on each button
                var $videoSrc;  
                $('.ytClickToOpenModal').click(function() {
                    $videoSrc = $(this).data( "src" );
                });
                console.log($videoSrc);
                  
                  
                $('#ytModal').on('shown.bs.modal', function (e) {
                    
                $("#video").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" ); 
                })
                  
                  
                $('#ytModal').on('hide.bs.modal', function (e) {
                    $("#video").attr('src',''); 
                }) 

            });

        </script>
        
    </body>
</html>