<!DOCTYPE html>
<html lang="en">

    @@include('../partials/head/head.html')

    <body>
        <div id="wrapper">

            @@include('../partials/globals/topBar.html')

            <div class="mainPage">
                <div class="customContainer">
            
                    <div class="mainBg">

                        @@include('../partials/globals/header.html')
                    
                        <div class="mainCols">
                            <div class="centerCol">
                                @@include('../partials/components/quickNavButtons.html',{
                    
                                    "iconQNBBox": "<img src=\"./assets/images/Education-Icon.png\">", 
                    
                                    "qnbBtn1": "Video Learning",
                    
                                    "qnbBtn2": "Installation Diagrams",
                    
                                    "qnbBtn3": "Pad Designs"
                    
                                })
                    
                                @@include('../partials/components/underlined-title.html', {
                    
                                    "iconTitle": "<img src=\"./assets/images/boilers101.png\" alt=\"boilers-101\">",
                                    
                                    "textTitle": "BOILERS 101 - INSTALLATION DIAGRAMS"
                                })


                                <div class="topDescription">
                                    <div class="italicDescription">
                                        <p>The below diagrams are availble for download in pdf format & are for illustrative purposes only.</p>
                                        <p>When in doubt or unsure, seek professional advice before proceeding.</p>
                                        <p>Call for clarification or ask your local plumber.</p>
                                    </div>
                                </div>


                                <div class="diagramsContent">
                                    @@loop('../partials/components/diagrams.html', [
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic1.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Heat Exchanger\">Heat Exchanger</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic2.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Wiring LV Thermostat\">Wiring LV Thermostat</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. ",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic1.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic1.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Heat Exchanger\">Heat Exchanger</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic2.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Wiring LV Thermostat\">Wiring LV Thermostat</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. ",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",
                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "<a href=\"#\" style=\"background-image: url(./assets/images/pdf-icon.png);\"></a>",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        },
                                        {
                                            "underimage": "<a href=\"#\" style=\"background-image: url(./assets/images/diagram_pic3.jpg)\"></a>",

                                            "overimage": "",

                                            "title": "<a href=\"#\" title=\"Manifold Assembly\">Manifold Assembly</a>",

                                            "description": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old",

                                            "playbutton": "<i class=\"fas fa-play\"></i>",

                                            "textbutton": "Download"
                                        }
                                    ])
                                </div>

                               
                                <div class="frequentlyAQLink">
                                    <a href="#" class="frequentlyAQ">
                                        &raquo; Frequently Asked Questions
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    
                        
                    </div>
                </div>
            </div>

            @@include('../partials/globals/footer.html')
            
        </div>

        @@include('../partials/globals/bottomScripts.html')

        
        
    </body>
</html>