<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
    <div id="wrapper">

        @@include('../partials/globals/topBar.html')

        <div class="mainPage">
            <div class="customContainer">

                <div class="mainBg">
                    @@include('../partials/globals/header.html')

                    <div class="mainCols">
                        @@include('../partials/globals/left.html')

                        <div class="rightCol">
                            @@include('../partials/components/underlined-title.html', { "iconTitle": "<i class=\"fas fa-power-off\"></i>", "textTitle": "shut down procedure" })

                            <div class="italicDescription mt30">
                                <p>It is strongly recommended that you follow the procedure provided below at the end of each heating season.  Corrosion is preventable as long as you follow the manufacturer's guidelines and clean your furnace regularly.  Corrosion is not covered under the manufacturer's warranty, so here is what you can do to help take care of your investment.</p>
                            </div>

                            <figure class="generalFig">
                                    <img class="generalFigImg" src="./assets/images/portage-main-about.jpg" alt="">
                                    <figcaption>Portage Ave. & Main St. - Winnipeg, Manitoba</figcaption>
                            </figure>

                            <div class="textContent shutDownProcedure">
                                <ol>
                                    <li>Prior to starting your shut down procedures, collect water sample and send it to <a href="mailto:mail@gmail.com" style="color:#5252fa">Heat Smart Plus Inc</a>. <i>**Allow three to four weeks to receive results.</i></li>
                                    <li>Once the boiler water has cooled down, check all fittings for leaks and repair/replace as required. After shut down procedures are completed, continue to check fittings for leaks monthly.  NOTE: Some fittings will only leak when cooled.</li>
                                    <li>Use the cleanout tool prvoided to scrape out the reverse turn heat exchanger.</li>
                                    <li>Use the cleanout tool prvoided to scrape out the reverse turn heat exchanger.</li>
                                    <div class="iSmall" style="font-weight:400">The easiest way to clean the heat exchanger is to open the front heat exchanger door and use the supplied cleaning tool to pull all of the ashes on the right side of the heat exchanger down to the front and then push them up the left side of the heat exchanger and into the heat exchanger opening at the back so that the ashes fall back down into the fire chamber.</div>
                                    <li>Coat the inside of the heat exchanger with light weight oil, it is also recommended to oil the door hinges and latches as well.</li>
                                    <li>Remove all ash and unburned wood from the fire chamber. Do not let ash build up at any time, ash combined with moisture becaomes acidic if left for an extended period of time.</li>
                                    <li>Lightly oil the fire chamber metal, avoid getting oil onto refractory cement and bricks.</li>
                                    <li>Remove all ash from the ash collection area, and lightly oil.</li>
                                    <li>Remove the blower fan, clean the screen, cage wheel and air box assembly.  Clean and lube the flapper assembly. Inspect and clean the flex hose and replace if necessary.</li>
                                    <li>Check your door gaskets and float - do they need replacing? Best to order then in the spring rather than wait until you need to use the furnace again in the fall.</li>
                                    <li>Make sure the chimney is covered. ( A clean five gallon pail over the chimney works well.)</li>
                                    <li>It is recommended to keep your circulation pump running year round.  This will assist in preventing any sediment for settling, and to keep the chemical emulsified in your boiler solution.  It will also assist in keeping your pump(s) lubricated to avoid a pump seizure.</li>
                                    <li>Add boiler treatment, if previous water test results ( as listed in point #1) indicated further boiler treatment is required. Use only Portage and Main approved Boiler Treatment, as required by your warranty. Do not mix with other brands of boiler treatment.</li>
                                    <li>Top off the boiler with water so that there is no air space in the water jacket.</li>
                                    <li>At the start of the next heating season, the excess boiler water should be drained off before heating the boiler.  It should be kept for use as " top up" water as it is already treated with boiler treatment for proper pH, Nitirites and conductivity levels.</li>
                                </ol>
                            

                            <div class="italicDescription mt30">
                                <p>Every Portage and Main boiler is an investment. In order to maximize your investment and help ensure the longevity of your boiler, we have the following further recommendations regarding use and maintenance. </p>
                            </div>

                            <ul>
                                <li>Keep your boiler, fire chamber, heat exchanger and ash collection area clean and dry. Check and clean regularly, even if it is the off season.</li>
                                <li>When cleaning your furnace, pay attention to the heat excahnger and area behind the fire chamber liners.  If ashes accumulate, once combined with moisture (high levels of humidity during summer months) they become corrosive and accelerate corrosion and cause pitting of the steel.</li>
                                <li>Burn dry seasoned wood. Wood is a type of hydrocarbon, commen properties of hydrocarbons are; they produce steam, carbon dioxide and heat during combustion. Therefore the drier the wood the less moisture that is created during the combustion process. </li>
                                <li>Use proper burn practices, do not let the boiler water get below 150F during heating season, due to the dew point corrosion which will happen around 130F.</li>
                            </ul>

                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @@include('../partials/globals/footer.html')

    </div>
    @@include('../partials/globals/bottomScripts.html')

    <script src="assets/js/vendor.min.js" defer></script>
    <script src="assets/js/app.js" defer></script>
</body>

</html>