<!DOCTYPE html>
<html lang="en">

    @@include('../partials/head/head.html')

    <body class="noLeftSide">
        <div id="wrapper">

            @@include('../partials/globals/topBar.html')

            <div class="mainPage">
                <div class="customContainer">
            
                    <div class="mainBg">

                        @@include('../partials/globals/header.html')
                    
                        <div class="mainCols">
                            <div class="centerCol">
                                @@include('../partials/globals/leftSideMenu.html')

                                <!--Top Nav-->
                                <div class="topNavBtnContent">
                                    <ul>
                                        @@loop('../partials/components/topNavBtn.html', [

                                            {
                                               "topNavBtn": "Ultimizer Wood Series" 
                                            },
                                        
                                            {
                                                "topNavBtn": "Ultimizer Coal Series"
                                            },
                                        
                                            {
                                                "topNavBtn": "EGR Gasification Series"
                                            },
                                        
                                            {
                                                "topNavBtn": "The Stoker Series"
                                            },
                                        
                                            {
                                                "topNavBtn": "The EnviroChip Series"
                                            },
                                        
                                            {
                                                "topNavBtn": "LCB-120 Wood Chip / Wood Pellet Burner"
                                            }
                                        ])
                                    </ul>
                                </div>
                                
                                <!--mainTitle & Download pdf-->
                                <div class="sectionTitleContent">
                                    <div class="sectionTitleLeft">
                                        @@include('../partials/components/underlined-title.html', {
                    
                                            "iconTitle": "<img src=\"./assets/images/boilers101.png\" alt=\"boilers-101\">",

                                            "textTitle": "THE STOKER SERIES"

                                        })
                                    </div>
                                     
                                    <div class="sectionTitleRight">
                                        <a href="#"><img src="./assets/images/pdf-icon.png"></a>
                                        <a href="#">Download Brochure</a>
                                    </div>
                                </div>


                                <div class="stokerSeries">
                                    <div class="stokerSeriesContent">
                                        <div class="stokerSeriesLeft">
                                            <div class="italicDescription width">This multi-fuel boiler gives you the option to burn either coal or pellets. It will burn 1/3 to 1/2 less fuel than any other conventional outdoor boilers.</div> 
                                            <div class="centerDescription">The auger feed bin system provides the convenience of having an efficient outdoor boiler that operates for extended periods of time without user input. Virtually smokeless, the Stoker series will heat 10,000 sq ft to 30,000 sq ft.</div>
                                            <div class="leftDescription">The Stoker series burns coal, wood pellets, oat hulls, grass pellets, sunflower hulls, cherry pips – basically any biomass that will flow from a storage bin - it even removes its own ashes. </div>
                                        </div>
                                    
                                        <div class="stokerSeriesRight">
                                            <a href="#"><img src="./assets/images/stoker-series.png"></a>
                                        </div>
                                    </div>
                                </div>
                                
                                

                                <!--The envirochip series-->
                                @@include('../partials/components/youtubeText.html', {
                                    "iframe": "<iframe src=\"https://www.youtube.com/embed/rRbyZ3eD-9M\"  allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>",

                                    "mainTitle": "The Stoker Series",

                                    "secondTitle": "Revolutionary Design",

                                    "descriptiona": "The Ultimizer uses a revolutionary design to eliminate the problems associated (until now) with outdoor boilers. ie. smoke, creosote, moisture, corrosion.",

                                    "descriptionb": "The heat retaining refractory lining directs heat back into the burn chamber. This is where heat is extracted from the combustion gases and the smoke is burnt, rather than exiting the chimney. The extra heat generated eliminates creosote and moisture and prevents corrosion.",

                                    "descriptionc": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &#34;de Finibus Bonorum et Malorum&#34; (The Extremes of Good and Evil) by Cicero, written in 45 BC.",

                                    "descriptiond": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source."

                                })

                                <!--Portage & Main Stoker Benefits:-->
                                <div class="ultimizerBenefitsContent">
                                    <div class="ultimizerBnftsBorder">
                                        <div class="ultimizerBenefitsLeft">

                                            <h3>Portage & Main Stoker Benefits:</h3>

                                            <ul class="stockerBenefits">

                                                <li>
                                                    <h4>No daily filling required</h4>
                                                    <div class="stockerBnftsDescr">The autofeed systems lend themselves well to buying your fuel in bulk which saves money - fill your bin once every season.</div>
                                                </li>

                                                <li>
                                                    <h4>Peace of mind, safety and convenience</h4>
                                                    <div class="stockerBnftsDescr">Unlike an indoor stove, their is no fire hazard inside your home, no messy fuel, ashes or smoke.  Fire insurance premiums have event been known to decrease.</div>
                                                </li>

                                                <li>
                                                    <h4>Easy to use</h4>
                                                    <div class="stockerBnftsDescr">The water temperature is controlled with an easy to read aquastat, including display features.  Surfaces are insulated or water cooled for safe operation</div>
                                                </li>

                                                <li>
                                                    <h4>Benefits for you and the environment</h4> 
                                                    <div class="stockerBnftsDescr">Minimize the use of expensive fossil fuels such as natural gas, propane, fuel oil and electricity. Reduce dependency on foreign oil and keep your energy dollars circulation in your local economy.</div>
                                                </li>

                                            </ul>

                                        </div>


                                        <div class="ultimizerBenefitsRight">
                                            <a href="#" style="background-image: url(./assets/images/image1.jpg);"></a>
                                        </div>
                                    </div>
                                </div>


                                <!--Better than imported oil-->
                                @@include('../partials/components/betterThanImported.html', {
                                    "brochureimage": "<img src=\"assets/images/brochure.png\" alt=\"brochure\">",
                                    "descriptiona": "The following brochure includes general product information and specification of the coal burning models availabe.",
                                    "downloadImg": "<img src=\"./assets/images/pdf-icon.png\">",

                                    "downloadText": "Download Brochure",

                                    "descriptionb": "Day In - night Out... The stoker model will feed itself, so you don’t have to!  Call now!",
                                    "value": "1 (800) 561-0700"
                                })
                                
                            </div>
                        </div>
                    
                        
                    </div>
                </div>

                <!-- The Modal -->
                <!-- you can add the modal in other places on page, since it's position fixed -->
                <div class="modal fade ytModal" id="ytModal">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <h4 class="modal-title">Name of the Video Being Viewed</h4>
                                <iframe class="embed-responsive-item" src="a" id="video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowscriptaccess="always"> </iframe>

                                <div class="youtubeCaption">
                                    Say whatever you’d like to say here Brian...Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.    Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>

            @@include('../partials/globals/footer.html')
            
        </div>

        @@include('../partials/globals/bottomScripts.html')

        <script>
            $(document).ready(function() {

                // Gets the video src from the data-src on each button
                var $videoSrc;  
                $('.ytClickToOpenModal').click(function() {
                    $videoSrc = $(this).data( "src" );
                });
                console.log($videoSrc);
                  
                  
                $('#ytModal').on('shown.bs.modal', function (e) {
                    
                $("#video").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" ); 
                })
                  
                  
                $('#ytModal').on('hide.bs.modal', function (e) {
                    $("#video").attr('src',''); 
                }) 

            });

        </script>

    </body>
</html>