<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
    <div id="wrapper">

        @@include('../partials/globals/topBar.html')

        <div class="mainPage">
            <div class="customContainer">

                <div class="mainBg">
                    @@include('../partials/globals/header.html')

                    <div class="mainCols">
                        @@include('../partials/globals/leftSideMenu.html')

                        <div class="rightCol">
                            <div class="whiteBox">

                                @@include('../partials/components/underlined-title.html', {
                                    "iconTitle": "<img src=\"./assets/images/water.svg\" alt=\"\">", 
                                    "textTitle": "Water sample " 
                                    })

                                <div class="textContent mt30">
                                    <h4 class="italicTitle"><i>Instructions for Siphoning and Submitting a Water Sample</i></h4>
                                    <p>From any drain, siphon five ounces, one-hundred fifty milliliters (5 oz, 150 ml), of your boiler water solution.  
                                </p>
                                <p><span class="note">tip:</span><i> Dispose of the first couple of ounces of collected water, as it may have come into contact with sediment that may have accumulated in the drain area. 
                                </i></p>
                                <p>You can use the sample bottle provided with your boiler treatment or you can use a regular empty water bottle (16 oz, 500 ml).  Simply flatten the bottle somewhat to expel excess air.  Place the water sample inside a Ziploc bag and then, inside a second Ziploc bag to help ensure no leakages in transit. </p>
                                <p>Also include the following information with the shipment of your water sample:
                                    <ul>
                                        <li>Your FULL name</li>
                                        <li>Your Telephone Number</li>
                                        <li>Your e-mail address</li>
                                        <li>Stove model and serial number</li>
                                        <li> Place your personal information inside a Ziploc bag to ensure it stays dry and legible. </li>
                                    </ul>
                                </p>
                                <p>
                                    Send the sample to us via regular mail to the address below. If you are able to get a tracking number please do so, some water samples get lost in transit. 
                                </p>
                                <p><b>US Customers</b> - please send by Priority Mail - DO NOT use UPS or Fed Ex as they may charge you brokerage fees. 
                                </p>
                                <p class="ml20"><i>
                                    ** Please allow approximately four weeks for your sample to be recieved and processed. We will test the water and send you the analysis, via email or mail, if you do not have an email address. </i></p>
                                <p>Should you have any questions in regards to submitting a sample or regarding your results, please e-mail us at <a class="blueLink" href="mailto:info@portageandmainboilers.com">info@portageandmainboilers.com</a> or call us toll free <span class="boldSpanBig">1-800-561-0700.</span></p>
                                </div>

                                <div class="textContent footerWS mb30">
                                    <p>Water Samples can be sent to:</p>
                                    <div class="flexDiv">
                                        
                                        <h6 class="boldSpanBig">Heat Smart Plus Inc <br>
                                            C/O Portage and Main Boilers  <br>
                                            RR3 Stn Main <br>
                                            Prince Albert, Saskatchewan <br>
                                            S6V 5R1 <br>
                                            Canada <br>
                                        </h6>
                                        <div class="flex40">
                                            <img src="./assets/images/water-sample-logo.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @@include('../partials/globals/footer.html')

    </div>
    @@include('../partials/globals/bottomScripts.html')

    
    
</body>

</html>