.qnbBox {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    position: relative;
    .iconQNBBox{
        margin-left: 5px;
    }
    .qnbBtn{
        padding: 10px 25px;
        border: #f9b411;
        border-radius: 10px;
        margin-left: 20px;
    }
}
.centerCol{
    
