
@import 'ioana';
@import 'rebeca';

hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
.semibold{
    font-weight: 600;
}
.mt10{
    margin-top: 10px;
}
.mt15 {
    margin-top:15px;
}
.mt20{
    margin-top: 20px;
}
.mt22 {
    margin-top:22px;
}
.mt30 {
    margin-top:30px;
}
.mt40 {
    margin-top:40px;
}
.mb0 {
    margin-bottom:0;
}
.mb20 {
    margin-bottom:20px;
}
.mb30 {
    margin-bottom:30px;
}

.mb40 {
    margin-bottom:40px;
}
.mb78 {
    margin-bottom:78px;
}
.ml20 {
    margin-left:20px;
}
