// About Us - START//

.aboutusImage {
    object-fit:cover;

    .aboutImg {
        
        max-width:100%;
    }
    figcaption {
        font-size: 12px;
color: #333333;
font-family: "Proxima Nova";
font-weight: 300;
text-align: right;
margin-top:8px;
    }
}

// About us -END //

// Aqua stat - START //

hr {
    height: 1px;
background-color: #dcdcdc;
}
.note {
    font-size:1.25rem;
    font-weight:bold;
    text-transform: uppercase;
    margin-left:20px;
}
// Aqua stat - END //