// About Us - START//



// About us -END //

// Aqua stat - START //

hr {
    height: 1px;
background-color: #dcdcdc;
}
.note {
    font-size:1.25rem;
    font-weight:bold;
    text-transform: uppercase;
    margin-left:20px;
}
// Aqua stat - END //

// Dealer locations - START//
.flag {
    margin-right: 28px;
    width: 55px;
    height: 33px;
}
.titleLocationText {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 69px;
    color: #181818;
    font-family: "proxima-nova";
    font-weight: bold;
    text-transform: capitalize;
}

// Dealer locations - END //

// Water Sample - START //

.italicTitle {
    font-size:18px;
    font-family: "proxima-nova";
    text-align: center;
    margin-bottom: 35px;
}
.footerWS {
    margin-top:68px;
}
.flexDiv {
    display:flex;
    justify-content:center;

    .flex40 {
        width:40%;
        display:flex;
        flex-wrap:wrap;
        &>div {
            width:100%;
            
        }
        &:nth-child(2) {
            padding-left:10%;
        }
        img {
            width: 120px;
            height:130px;
            display:block;
        }
    }
    
}

// Water Sample - END //


// Installation parts - START //
.floatingLeft {
    float:left;
    width:50%;
    text-align:left;
}
.floatingRight {
    float:right;
    width:50%;
    display:flex;
    justify-content: center;
}
.clear {
    clear:both;
}
.mail {
    color:#4545fa;
}
.yellowPhone {
    text-align:center;
   .yellowNumber {
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 2px;
    color: #f9b411;
    font-family: "Proxima Nova";
    text-align: center;
    filter: drop-shadow(0px 1px 0.5px rgba(30,30,30,0.75));
   }
}
// Installation parts - END //


// Products - START //
.flexProduct {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:360px;
    border-bottom: 1px solid #cccccc;
    .flexText {
        width:50%;
        height: 50%;
        display:flex;
        align-items:center; 
        flex-wrap:wrap;
        .overflowH {
            height:93px;
            overflow:hidden;
            text-overflow:clip;
        }
    
        .flexTextItem {
            width:100%;
        }
      
    }
    .flexImg {
        width:50%;
        a {
            display:flex;
            justify-content:center;
        }
    }
}
.more 

{
    width: 118px;
    height: 23px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #f9b411;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #333333;
    font-family: "proxima-nova";
    font-weight: bold;
    text-align:right;
    display:flex;
    justify-content:space-around;
   
    &span:last-child::before {
        content:"";
        height: 20px;
        width:1px;
        background-color:#cccccc;
    }
}

// Products - END //


// Purchase & Shipping - START // 

.shippingTitle {
    font-size: 18px;
    letter-spacing: 0px;
    color: #333333;
    font-family: "proxima-nova";
    font-weight: bold;
}

// Purchase & Shipping - END //

// Shut down procedure - START //
.shutDownProcedure ol li, .shutDownProcedure div {
    margin-bottom:22px; 
}

// Shut down procedure - END //


// Bg main - START // 
.smallerText {
    font-size:13px;
}
.bgMainOutdoor {
    font-size: 24px;
    letter-spacing: 0px;
    color: #333333;
    font-family: "proxim-nova";
    font-weight: bold;
}
.videoOutodoor {
    display:flex;
    justify-content: space-between;
    align-items:center;

    .bgMainCertificate {
        display: flex;
        flex-wrap:wrap;
        min-height: 300px;
        justify-content: flex-end;
        align-content: space-around;
    }
}
.bgMainSubtitle {
    font-size: 20px;
    letter-spacing: 0px;
    color: #333333;
    font-family: "proxima-nova";
    font-weight: bold;
}
.board {
    width:640px;
    height:348px;
    margin-top:25px;
    position:relative;
    max-width:100%;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content:space-around;
    align-items: center;

    .bulletinInfo {
        width:168px;
        height:238px;
        background-color: #fff;
        padding:20px 12px 20px 12px;
        position:relative;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content: center;

        .pin {
            position:absolute;
        }
        .pinLeft {
            @extend .pin;
            left:10px;
            top:5px;
        }
        .pinRight {
            @extend .pin;
            right:10px;
            top:5px;
        }
    }
    
    .bulletinDate {
        font-size:14px;
        letter-spacing: 0px;
        color: #333333;
        font-family: "proxima-nova";
        text-align: center;
        border-bottom: 1px solid #9e9d9d;
        font-weight:bold;
        display:block;
    }
    .bulletinTitle {
        @extend .bulletinDate;
        font-size:18px;
        border-bottom: none;
        margin-top:12px;
        margin-bottom:6px;
    }
    .infoImg {
        width:141px;
        height: 63px;
        max-width:100%;
        background-position: center;
        background-size: cover;
        background-color:#9e9a9a;
    }
    .more {
        display:block;
        width:56px;
        height:10px;
        border-radius:10%;
        border: 1px solid #d9fcb2;
        box-shadow: 2px 2px #9e9a9a;
        font-size:8px;
        line-height:10px;
        text-transform: uppercase;
        text-decoration: none;
        text-align:center;
        color:#333333;
        position:absolute;
        right:12px;
        bottom:8px;
    }
}
    .bulletinPhotos {
        width:168px;
        height:238px;
        display:flex;;
        align-items:center;
        justify-content: center;

        .bulletinYear {
            width: 100px;
            height:35px;
            background-color: #fff;
        }
        .bulletinPhoto1 {
            width: 84px;
            height: 100px;
        }
    }
    .infoImg {
        max-width:100%;
        background-position: center;
        background-size: cover;
    }


.moreTestimonial {
    @extend .more;
    width:88px;
    position:absolute;
    top:20px;
    right:10px;
}
.relativ {
    position:relative;
}
.testimonialContainer {
    width: 20%;
}
.avatarPhoto {
    width: 96px;
    height:96px;
    border-radius: 50%;
}
.testimonial {
    width: 492px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius:3%;
    padding: 24px 40px 0 20px;
    text-align:justify;
}
.testimonialTitle {
    font-weight:bold;
    text-align:center;
}

// Bg main - END // 

// Blog Post - START // 

.articleTitle {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #333333;
    font-weight: bold;
    text-align: left;
}
.articleImgContainer {
    width: 610px;
    height: 471px;
}
.articleImg1 {
    display: block;
    width: 658px;
    height: 471px;
    max-width:100%;
    background-position: center;
    background-size: cover;
}
.back {
    @extend .moreTestimonial;
    position: static;
    text-transform: capitalize;
}
.socials {
    display:flex;
    justify-content: space-between;
    
    a {
        display:inline-block;
    }
}
.blogPostsTitle {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #818181;
    display:block;
}
.blogPost {
    text-align:left;
    margin-bottom:0;
}

// Blog Post - END //

.accordionContainer > button:nth-of-type(even) {
    background-color:#b4daf7;
}
.accordionContainer > button:nth-of-type(odd) {
    background-color:#fff;
}
.accordion {
    height:70px;
    width:100%;
    padding:18px;
    text-align:left;
    font-size: 16px;
    letter-spacing: 1px;
    color: #181818;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border:none;

    &::after {
        content:'\02795';
        border:none;
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
    &:focus {
        outline:none;
        
    }
}
.active::after {
    content: '\2796';
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
//   .plus {
//     border-radius: 50%;
//     width: 10px;
//     height: 10px;
//     position: relative;
//     display:inline-block;
//     &::after {
//         content: " ";
//         position: absolute;
//         display: block;
//         background-color: #333333;
//         height: 2px;
//         margin-top: -1px;
//         top: 50%;
//         left: 1px;
//         right: 1px;
//         z-index: 9;
//     }
//     &::before {
//         content: " ";
//   position: absolute;
//   display: block;
//   background-color: #333333;
//   width: 2px;
//   margin-left: -1px;
//   left: 50%;
//   top: 1px;
//   bottom: 1px;
//   z-index: 9;
//     }
//   }