
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script>
	$(".opensSubmenu").click(function(){
		$(this).closest(".quickNavItem").toggleClass("submenuActive");
	});

	$("#mobileButton").click(function(){
		$("body").removeClass("quickNavMenuActive");
		$("body").toggleClass("mobileMenuActive");
	});

	$("#quickNavTrigger").click(function(){
		$("body").removeClass("mobileMenuActive");
		$("body").toggleClass("quickNavMenuActive");
	});

	$("#wallpaperButton").click(function(){
		$("body").toggleClass("topBoxesActive");
	});

	$(window).click(function() {
		
		// $(".mobileMenuActive #mainNav").fadeOut();
		// $(".quickNavMenuActive #quickNav").fadeOut();

		$("body").removeClass("mobileMenuActive");
		$("body").removeClass("quickNavMenuActive");
	});

	$('#mobileButton, #quickNavTrigger, #mainNav, #quickNav').click(function(event){
	    event.stopPropagation();
	});
	
</script>