
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script>
	$(".opnesSubmenu").click(function(){
		$(this).closest(".quickNavItem").toggleClass("submenuActive");
		$(this).next(".quickNavSubmenu").slideToggle();
	});

	$("#mobileButton").click(function(){
		$("body").removeClass("quickNavMenuActive");
		$("#quickNav").fadeOut();
		$("body").toggleClass("mobileMenuActive");
		$("#mainNav").fadeToggle();
	});

	$("#quickNavTrigger").click(function(){
		$("body").removeClass("mobileMenuActive");
		$("#mainNav").fadeOut();
		$("body").toggleClass("quickNavMenuActive");
		$("#quickNav").fadeToggle();
	});

	$("#wallpaperButton").click(function(){
		$("body").toggleClass("topBoxesActive");
	});

	$(window).click(function() {
		
		$(".mobileMenuActive #mainNav").fadeOut();
		$(".quickNavMenuActive #quickNav").fadeOut();

		$("body").removeClass("mobileMenuActive");
		$("body").removeClass("quickNavMenuActive");
	});

	$('#mobileButton, #quickNavTrigger, #mainNav, #quickNav').click(function(event){
	    event.stopPropagation();
	});
	
</script>