<footer id="footer" class="siteFooter">
	<div class="customContainer">
		<div class="footerLeft">
			<a href="/">
				<img src="./assets/images/logo-white.png" alt="">
			</a>
		</div>
		<div class="footerRight">
			<div class="socialMediaIcons">
				<a href="">
					<img src="./assets/images/facebook-color.svg" alt="">
				</a>
				<a href="">
					<img src="./assets/images/twitter-color.svg" alt="">
				</a>
				<a href="">
					<img src="./assets/images/youtube-color.svg" alt="">
				</a>
				<a href="">
					<img src="./assets/images/instagram-color.svg" alt="">
				</a>
			</div>
		</div>
		<div class="footerBottom">
			<div class="copyRight">
				2019 Portage & Main Boilers.   All Rights Reserved
			</div>
			<div class="footerLinks">
				<a href="./privacy_policy.html">Privacy Policy</a>
				<a href="./terms.html">Terms & Conditions</a>
				<a href="./sitemap.html">Sitemap</a>
			</div>
		</div>
	</div>
</footer>