<header id="header" class="siteHeader">
    <div class="customContainerr">
        <div class="logo">
            <a href="/">
                <img src="images/logo.png" alt="">
            </a>
        </div>
        <div class="placeholder">
            <h1 style="color: #fff">AICI VA FI HEADER</h1>
        </div>
        
        <div class="mobile-button">
            <a href="#menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        
    </div>
</header>