<header id="header" class="siteHeader">

    <div class="logoFull">
        <a href="/">
            <img src="./assets/images/portage-main-boiler.png" alt="">
        </a>
    </div>
   
    <nav class="mainNav" id="mainNav">
        <ul class="mainMenu">
            <li class="mainMenuElement">
                <a href="#" class="mainMenuElementLink"><i class="fas fa-home"></i></a>
            </li>
            <li class="mainMenuElement active">
                <a href="#" class="mainMenuElementLink">Who We Are</a>
            </li>
            <li class="mainMenuElement">
                <a href="#" class="mainMenuElementLink">Our Products</a>
            </li>
            <li class="mainMenuElement">
                <a href="#" class="mainMenuElementLink">Education</a>
            </li>
            <li class="mainMenuElement">
                <a href="#" class="mainMenuElementLink">NEWS/BLOG</a>
            </li>
            <li class="mainMenuElement">
                <a href="#" class="mainMenuElementLink">EVENTS</a>
            </li>
            <li class="mainMenuElement">
                <a href="#" class="mainMenuElementLink">CONTACT US</a>
            </li>
        </ul>

        <div class="searchArea" id="searchArea">
            <form>
                <div class="searchFlex">
                    <input type="search" class="searchInput" placeholder="Search...">
                    <button type="submit" class="searchSubmit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </nav>

</header>