<div id="topBar">
    <div class="customContainer">
        <div class="topBarContainer">
            <div class="logo">
                <a href="/">
                    <img src="./assets/images/logo.png" alt="">
                </a>
            </div>

            <div class="callTopBtn">
                Call Toll Free: <a href="tel:1(800)561-0700"> 1 (800) 561-0700 </a>
            </div>
        </div>
        
        <div class="mobile-button">
            <a href="#menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        
    </div>
  </div>