<div id="topBar">
    <div class="customContainer">
        <div class="topBarContainer">
            <div class="logo">
                <a href="/">
                    <img src="./assets/images/logo.png" class="logoDesktop" alt="">
                    <img src="./assets/images/logo-icon.png" class="logoMobile" alt="">
                </a>
            </div>

            <div class="callTopBtn">
                Call Toll Free: <a href="tel:1800561-0700"> 1 (800) 561-0700 </a>
            </div>
        </div>

        <div class="mobileButtons">

            <div class="mobilePhone">
                <a href="tel:1800561-0700"> <i class="fas fa-phone"></i> </a>
            </div>
            <div class="quickNavTrigger" id="quickNavTrigger">
                <i class="far fa-compass"></i>
            </div>
            <div class="mobileButton" id="mobileButton">
                <a href="#menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="topBoxes">
    <div class="topBoxLeft">
        <a href="#"><img src="./assets/images/left-image.jpg" alt=""></a>
    </div>
    <div class="topBox">
        <a href="#"><img src="./assets/images/top-image.jpg" alt=""></a>
    </div>
    <div class="topBoxRight">
        <a href="#"><img src="./assets/images/right-image.jpg" alt=""></a>
    </div>
</div>