<div class="betterThan">
    <div class="betterThanBox">
        
        <div class="betterThanLeft">

            <div class="betterThanLLeft">
                <a href="#">@@brochureimage</a>
            </div>

            <div class="betterThanLBox">
                <div class="betterThanDescr">@@descriptiona</div>

                <!--Download Brochure -- @@include-->
                <div class="sectionTitleRight">
                    <a href="#">@@downloadImg</a>
                    <a href="#">@@downloadText</a>
                </div>
            </div>
            
        </div>

        <div class="betterThanRight">
            <div class="betterThanRDescr">@@descriptionb</div>
            <div class="betterThanRValue"><a href="#">@@value</a></div>
        </div>

    </div>
</div>