<div class="blogArticle mb20">
        <div class="articleImageContainer">
        <a class="articleImg" href="#" target="_blank">@@blogArticleImage</a>
        </div>
        <div class="articleContent">
            <div class="infoArticle">
                <div class="publish">
                <span class="publishDate"><img src="/.assets/images/calendar.jpg"></span>
                <span class="date">@@date</span>
                </div>
                <div class="comments">
                <span class="comment"><i class="fas fa-comments"></i></span>
                <span class="comm">@@noComm</span>
                </div>
            </div>
            <h4 class="blogArticleTitle">@@blogArticleTitle</h4>
            <span class="articleBy"><i>@@by</i></span>
            <div class="articleText">
                <p>@@text <a class="more articleMore" target="_blank">read more</a></p>
                
            </div>
        </div>
    </div>