<div class="diagrams">

    <div class="diagramsImgPDF">

        <div class="diagramsImg">
            <a href="#">@@underimage</a>
        </div>

        <div class="diagramsPDF">
            <a href="#">@@overimage</a>
        </div>

    </div>

    <div class="diagramsBox">
        <h3><a href="#">@@title</a></h3>
        <div class="diagramsText">
            @@description
        </div>

        <a href="#" class="diagramsButton">
            @@playbutton
            <div class="textButton">@@textbutton</div>
        </a>
    </div>
</div>