<div class="diagrams">

    <div class="diagramsImgPDF">

        <div class="diagramsImg">
            @@underimage
        </div>

        <div class="diagramsPDF">
            @@overimage
        </div>

    </div>

    <div class="diagramsBox">
        <h3>@@title</h3>
        <div class="diagramsText">
            @@description
        </div>

        <a href="#" class="diagramsButton">
            @@playbutton
            <span class="textButton">@@textbutton</span>
        </a>
    </div>
</div>