<div class="eventsElem">
    <div class="eventsElemContent">
        <div class="eventsElemL">
            <a href="#">@@image</a>
        </div>
        <div class="eventsElemR">
            <h3><a href="#">@@title</a></h3>
            <div class="eventsPeriod">@@period</div>
            <div class="eventsText">@@text</div>
            <a href="#" class="tag">@@taga</a>
            <a href="#" class="tag">@@tagb</a>
            <a href="#" class="tag">@@tagc</a>
        </div>
    </div>
</div>