<div class="iconMessage">

    <div class="iconMessL">
        <a href="#">@@image</a>
    </div>

    <div class="iconMessR">
        <div class="iconMessRContent">
            <h3><a href="#">@@title</a></h3>
            <div class="textMess">@@messagea</div>
            <div class="textMess">@@messageb</div>
            <div class="textMess">@@messagec</div>
            <div class="textMess">@@messaged</div>
        </div>
        <div class="triangle">
            <div></div>
        </div>
    </div>

</div>