<div class="textContent mb40 flexProduct">
    <div class="flexText">
        <h4 class="flexTextItem">@@productName</h4>
        <h5 class="flexTextItem">@@productType</h5>
        <div class="flexTextItem overflowH">
        <p>@@productDescription1</p>
        <p>@@productDescription2</p>
        </div>
        <a class="more" href="#">
            <span><i class="fas fa-caret-right"></i></span>
            <span><i>Learn More</i></span>
        </a>
    </div>
    <div class="flexImg">
        <a href="#" target="_blank">@@product</a>
    </div>
</div>
