<div class="textImage">
    <div class="textImageBox">
        <div class="textImageLeft">
            <h3>@@title</h3>
            <ul>
                <li><a href="#">@@linka</a></li>
                <li><a href="#">@@linkb</a></li>
                <li><a href="#">@@linkc</a></li>
                <li><a href="#">@@linkd</a></li>
                <li><a href="#">@@linke</a></li>
                <li><a href="#">@@linkf</a></li>
                <li><em>@@linkg</em></li>
                <li><span>@@linkh</span></li>
            </ul>
        </div>
        <div class="textImageRight">
            @@image
        </div>
    </div>
</div>