<div class="youtubeText">
    <div class="youtubeTextBox">
        <div class="text">

            <div class="rightBox">
                <div class="iframe ytClickToOpenModal" data-toggle="modal" data-target="#ytModal" data-src="https://www.youtube.com/embed/rRbyZ3eD-9M">
                    @@iframe
                </div>
                <h3>@@mainTitle</h3>
                <h4>@@secondTitle</h4>
                <p>@@descriptiona</p>
                <p>@@descriptionb</p>
                <p>@@descriptionc</p>
                <p>@@descriptiond</p>
            </div>
        </div>
    </div>
    
</div>